<div class="center jumbotron">
  <h1>Welcome to my micro-blogging app</h1>

  <h2>
    Join now and make some friends!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="card">
  <div class="card-body">
    <h2>
      Just here to check it out? Sign in with these credentials to take a look around without authenticating.
    </h2>
    <h2>
      TestUser@test.com / Testuser
    </h2>
  </div>
</div>
