<div class="center jumbotron">
  <h1>Welcome to my micro-blogging app</h1>

  <h2>
    Join now and make some friends!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
